body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: #333;
}
h2{
    text-align: center;
}
.collection{
    align-items: center;
}
.btn{
    background-color: #f1f1f1;
    color:black;
    text-decoration: none;
    border-radius: 80px;
    transition: 0.4s;
}
.btn:hover{
    color: ivory;
}
.hero{
    text-align: center;
    background-color: #f1f1f1;
    padding: 50px;
}
.collection{
    text-align: center;
    padding: 50px;
}
.collection-items{
    display: inline-block;
    margin: 20px;

}
.collection-items img{
    width: 300px;
    height: 400px;
    object-fit: cover;

}
footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}